[submodule "pack/myplugins/start/vim-colors-solarized"]
	path = pack/myplugins/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "pack/myplugins/start/ctrlp.vim"]
	path = pack/myplugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/myplugins/start/vim-gitgutter"]
	path = pack/myplugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
